<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyfallen LiveConnect Room</title>
    <script>
        const CURRENT_ROOM_ID = "<%= roomID %>"
    </script>
    <script src="js/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/skyfallenliveconnect.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/call.css">
</head>
<body>
    <div id="video-grid">

    </div>
</body>
</html>