<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyfallen LiveConnect Room</title>
    <script>
        const CURRENT_ROOM_ID = "<%= roomID %>"
    </script>
    <script src="js/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/skyfallenliveconnect.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/call.css">
    <link rel="stylesheet" type="text/css" href="fontawesome/css/all.css">
</head>
<body>
    <div id="video-grid" class="video-grid">

    </div>
    <div id="meeting-controls" class="meeting-controls">
        <div class="controls-wrapper">
            <button id="mute-btn" class="mute-btn enabled-bg" name="mute-toggle" onclick="mute_toggle()"><i id="microphone-icon" class="fa fa-microphone icon-togglebtnsize"></i></button>
            <button id="camera-btn" class="camera-btn enabled-bg" name="camera-toggle" onclick="camera_toggle()"><i id="camera-icon" class="fa fa-video icon-togglebtnsize"></i></button>
            <button id="screenshare-btn" class="screenshare-btn enabled-bg" name="share-screen" onclick="share_screen()"><i id="sharescreen-icon" class="fa fa-tv icon-togglebtnsize"></i></button>
        </div>
    </div>
</body>
</html>